<% if(success && success.length) {%>
<div class="alert alert-success alert-dismissible fade show mt-4 w-50 mx-auto" role="alert">
  <%= success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(error && error.length) {%>
<div class="alert alert-danger alert-dismissible fade show mt-5 w-50 mx-auto" role="alert">
  <P class="text-center"><b>Greška</b></P>
  <ul>
    <% error.forEach(msg => { %>
    <li><%= msg %></li>
    <% }) %>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>