<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top mb-5 ">
  <div class="container">
    <a class="navbar-brand" href="/">UDOMI ŠAPE <i class="fa-sharp fa-solid fa-paw"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sticky-top" id="navbarNavAltMarkup">
      <!-- Left side -->
      <div class="navbar-nav">
        <a class="nav-link" href="/">POČETNA</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              UDOMLJAVANJE
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/psi">UDOMI PSA</a></li>
              <li><a class="dropdown-item" href="/macke">UDOMI MAČKU</a></li>
            </ul>
          </li>
        </ul>

        <a class="nav-link" href="/">POSTAVI OGLAS</a>
        <a class="nav-link" href="/">SREĆNO UDOMLJENI</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              O NAMA
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/psi">KONTAKT</a></li>
              <li><a class="dropdown-item" href="/macke">POLITIKA PRIVATNOSTI</a></li>
              <li><a class="dropdown-item" href="/macke">USLOVI KORIŠĆENJA</a></li>
            </ul>
          </li>
        </ul>


      </div>

      <!-- Right side -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/login">PRIJAVI SE</a>
        <a class="nav-link" href="/register">REGISTRUJ SE </a>
        <a class="nav-link" href="/logout">ODJAVI SE</a>
      </div>
    </div>
  </div>
</nav>