<% layout('./layouts/boilerplate.ejs') %>

<div class="container">
  <div class="row">
    <% for (let dog of dogs) { %>
    <div class="col-12 col-md-6 col-lg-4 g-4">
      <div class="card h-100">
        <img src="<%= dog.images[0] %>" class="card-img-top" style="height: 200px; object-fit: cover; object-position: center" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= dog.name %></h5>
          <p class="card-text"><%= dog.description %></p>
          <a href="#" class="btn btn-primary">Prikaži više</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>