<% -layout('./layouts/boilerplate.ejs') %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dom za šape</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="bg-dark text-white">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main class="container-fluid py-5 text-center">
      <h1>Udomi, ne kupuj</h1>
      <p class="lead">
        Dobrodošli na stranicu <b>Dom za šape! </b>Ovaj sajt je namenjen svim ljubiteljima životinja.
      </p>
      <a href="/psi" class="btn btn-lg btn-light text-dark">Udomi psa</a>
      <a href="/macke" class="btn btn-lg btn-light text-dark">Udomi mačku</a>
    </main>
  </div>

</body>

</html>