body {
  height: 100vh;
  background-color: white;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255);
  margin-left: 1rem;
  transition: color 0.3s ease;
  font-size: 15px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

/* Dropdown menu dark navbar*/
.navbar-dark .dropdown-menu {
  background-color: #343a40;
  color: #fff;
}

.navbar-dark .dropdown-menu .dropdown-item {
  color: #fff;
}

.navbar-dark .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* light hover */
  color: #fff;
}

i.fa-sharp {
  margin-left: 4px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body p {
  margin: 4px;
  padding: 0;
}

h1,
h2 {
  font-weight: bold;
}

.card {
  border-radius: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-dogs {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 28px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(79, 172, 254, 0.4);
  margin: auto;
}

.btn-dogs:hover {
  background: linear-gradient(135deg, #00f2fe, #4facfe);
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(79, 172, 254, 0.6);
  text-decoration: none;
  color: white;
}

.btn-cats {
  background: linear-gradient(135deg, #f7971e, #ffd200);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 28px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(247, 151, 30, 0.4);
}

.btn-cats:hover {
  background: linear-gradient(135deg, #ffd200, #f7971e);
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(247, 151, 30, 0.6);
  text-decoration: none;
  color: white;
}

.btn-custom {
  background: linear-gradient(90deg, #1e90ff, #0077b6);
  color: #fff;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(90deg, #0077b6, #1e90ff);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.custom-title {
  font-size: 2rem;
  font-weight: 700;
  color: #0077b6;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  display: inline-block;
}

.custom-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.custom-section h1 {
  position: relative;
  color: rgb(193, 207, 218);

  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.bg-custom {
  background-color: rgb(65, 102, 133);
}

.custom-section.full-width {
  width: 100vw; /* viewport width */
  margin-left: calc(-50vw + 50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
